<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713395923013-ddhn118aumrqunkjkn65fvm4k33s6vjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713395923013-ddhn118aumrqunkjkn65fvm4k33s6vjh</string>
	<key>API_KEY</key>
	<string>AIzaSyDdVm50L3A0t0d__YKPxxdVXUSyWCPGjr8</string>
	<key>GCM_SENDER_ID</key>
	<string>713395923013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coronaspectator.app</string>
	<key>PROJECT_ID</key>
	<string>corona-spectator</string>
	<key>STORAGE_BUCKET</key>
	<string>corona-spectator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713395923013:ios:20a899eb9828e36da3db2c</string>
</dict>
</plist>